
.about-container{
    padding: 0 2rem;
}

.about-us {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.about-home{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.about-text{
    width: 85%;
    text-align: justify;
}
.about-text h3{
  text-align: left;
}
.about-text .first-big::first-letter {
    font-size: 3em; /* Tamanho da primeira letra */
    font-weight: bold; /* Peso da fonte da primeira letra (opcional) */
    margin-right: .5rem;
    float: left;
    /* Outros estilos desejados para a primeira letra */
  }


.numeros{
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #92B6B1;
    padding: .5rem;
    
}
.numeros p{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    
}

.num{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.about-img-container{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.about-img{
   width: 500px;
   height: auto;
   border-radius: 1rem;
}

.missao{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    
}



.mvv p{
    text-align: justify;

}

@media screen and (max-width:1100px) {
    .about-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
}

@media screen and (max-width: 850px){
    .missao{
        display: flex;
        gap: 3rem;
        margin-top: 2rem;
        padding:0 3rem;
        flex-direction: column;
    }
}
@media screen and (max-width:700px) {
       
    .about-img{
        width: 400px;
        height: auto;
        border-radius: 1rem;
     }

}
@media screen and (max-width:600px) {
    
    .about-img{
        width: 300px;
        height: auto;
        border-radius: 1rem;
     }

}
@media screen and (max-width:400px) {
    
    .about-img{
        width: 250px;
        height: auto;
        border-radius: 1rem;
     }

}




