.about-us {
    width: 100%;
    display: flex;
    padding: 2rem;
}

.about-home{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-text{
    width: 50%;
    text-align: justify;
}
.about-text p::first-letter {
    font-size: 3em; /* Tamanho da primeira letra */
    font-weight: bold; /* Peso da fonte da primeira letra (opcional) */
    margin-right: .5rem;
    float: left;
    /* Outros estilos desejados para a primeira letra */
  }



.about-imgs {
    width: 100%;
    height: 100%;
}
.about-imgs .img-1{
    max-width: 50%;
    height: 60%;
    object-fit: cover;
}




