
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes logo-grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.logo{
    animation: logo-grow 2s alternate infinite ease-in-out;
    color: red;
}

