
/* 
#container{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#container figcaption{
    position: absolute;
    width: 100%;
    top: 85%;
    left: 30%;
    font-size: 40px;
    color: var(--card-color);
    text-shadow: 0px 0px 5px black;
}

.banner-img{
    width: 100%;
} */


.home-page{
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #92B6B1;
    
}

.home-img{
    width:20rem;
    height: 20rem;
    overflow: hidden;
}
.home-img img{
    width:100%;
    height: auto;
    border-radius: 50%;
}

.home-text p {
    margin-bottom: 0;
}

.home-btns{
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.home-btns button{
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    
}

.banner-btn{
    text-decoration: none;
}


@media screen and (max-width:600px) {
    
    .home-page{
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: #92B6B1;
        
    }


}
