
.footer-body{
    width: 100%;
    background-color: var(--card-color);
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
}

.footer-body ~ * {
    padding-bottom: 100px;
  }

.logo-text{
    text-align: center;
}
.logo-text p{
    font-size: .9rem;
}

.copyright{
    margin: 0;
}

.icons h6{
    text-align: center;
}