.navbar {
    height: 15vh;
    width: auto;
  
    /* margin-bottom: 2rem; */

}
.navbar + section{
  
    padding-top: 15vh;
}

.my-navbar{
    width: 100%;
    justify-content: flex-end !important; 
    align-items: center;
    gap: 2rem;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-brand{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.change-color ul li{
   
    padding: 0 1rem;
    
}

.nav-link{
    color: black !important;
}
.nav-link:hover {
    color: grey !important;
    text-decoration: underline;
    /* espaçamento entre texto underline */
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}


