
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.pets-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content{
  position: relative;
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 6.25rem;
}